
.logo{
	position: static;
	width: 120px;
	height: 48px;
	left: 0;
	top: 0;
	margin: 40px 0 ;
}
#caixa-teste{
	text-align: left;
	border: none;
	box-shadow: 0;
	outline: 0;
	color: #0A3871;
	position: absolute;
	width: 680px;
	height: 48px;
	left: 240px;
	top: 168px;
	font-family: "inter";
	font-style: normal;
	font-weight: 400px;
	font-size: 32px;
	line-height: 150%
}

#retangulo{
	position: absolute;
	width: 340px;
	height: 944px;
	left: 1000px;
	top: 40px;
	background: #FFFFFF;
	box-shadow: 0 24px 32px 8px rgba(0, 0, 0, 0.18);
	border-radius: 32px;
}

img{
	position: absolute;
	width: 300px;
	left: 22px;
	top: 83px;
}