
.logotipo{
	posição: estática;
	largura: 120px;
	altura: 48px;
	esquerda: 0;
	topo: 0;
	margem: 40px 0 ;
}
#caixa-teste{
	alinhamento de texto: esquerda;
	borda: nenhuma;
	caixa-sombra: 0;
	contorno: 0;
	cor: #0A3871;
	posição: absoluta;
	largura: 680px;
	altura: 48px;
	esquerda: 240px;
	topo: 168px;
	família de fontes: 'Montserrat', sem serifa;
	estilo de fonte: normal;
	peso da fonte: 400px;
	tamanho da fonte: 32px;
	altura da linha: 150%
}

#retangulo{
	posição: absoluta;
	largura: 330px;
	altura: 980px;
	esquerda: 1000px;
	topo: 40px;
	fundo: #FFFFFF;
	box-shadow: 0 24px 32px 8px rgba(0, 0, 0, 0,18);
	raio da borda: 32px;
}

#entrada{
	fundo: vermelho;
	borda: nenhuma;
	caixa-sombra: 0;
	contorno: 0;
	posição: todos;
	alinhamento de texto: esquerda;
	margem: 20px 20px 0 20px;
	família de fontes: 'Montserrat', sem serifa;
	estilo de fonte: normal;
	peso da fonte: 200px;
	tamanho da fonte: 22px;
	altura da linha: 100%;
	quebra-palavra: quebra-palavra;
}

#textoSaída{
	borda: nenhuma;
	posição: absoluta;
    alinhamento de texto: esquerda;
	caixa-sombra: 0;
	contorno: 0;
	cor: #0A3871;
	família de fontes: 'Montserrat', sem serifa;
	estilo de fonte: normal;
	peso da fonte: 200px;
	tamanho da fonte: 32px;
	preenchimento: 20px;
}


#foto{
	posição: absoluta;
	largura: 330px;
	altura: 980px;
	esquerda: 1000px;
	topo: 40px;
}

#copiar{
	posição: absoluta;
	largura: 280px;
	esquerda: 30px;
	superior: 10px
	altura: automático;
	família de fontes: 'Montserrat', sem serifa;
	estilo de fonte: normal;
	peso da fonte: 200;
	tamanho da fonte: 25px;
	altura da linha: 19px;
	alinhamento de texto: centro;
	fundo: #D8DFE8;
	raio da borda: 24px;
	flexível: nenhum;
	ordem: 0;
	flex-crescimento: 1;
	cor: #0A3871;
	preenchimento: 24px;
	inferior: 27px;
}

div h4{
	margem: 100 0 0 0;
}

.aviso{
	margem: 807px -7px 16px 240px;
}

.botoes{
	margem: 0 0 72px 240px;
	raio da borda: 30px;
	alinhar-itens: centro;
}

#criptografar{
	posição: estática;
	largura: 280px;
	altura: automático;
	esquerda: 24px;
	topo: 24px;
	família de fontes: 'Montserrat', sem serifa;
	estilo de fonte: normal;
	peso da fonte: 400;
	tamanho da fonte: 25px;
	altura da linha: 19px;
	alinhamento de texto: centro;
	fundo: #0A3871;
	raio da borda: 24px;
	flexível: nenhum;
	ordem: 0;
	flex-crescimento: 1;
	margem: 0px 8px;
	cor: #FFFFFF;
	preenchimento: 24px;
}

#desencriptador{	
	posição: estática;
	largura: 280px;
	altura: automático;
	esquerda: 24px;
	topo: 24px;
	família de fontes: 'Montserrat', sem serifa;
	estilo de fonte: normal;
	peso da fonte: 400;
	tamanho da fonte: 25px;
	altura da linha: 19px;
	alinhamento de texto: centro;
	fundo: #D8DFE8;
	raio da borda: 24px;
	flexível: nenhum;
	ordem: 0;
	flex-crescimento: 1;
	margem: 0px 8px;
	cor: #0A3871;
	preenchimento: 24px;
	margem: 0 17px 26px 31px;
}

.direito autoral{
	alinhamento de texto: centro;
	margem: 10px;
	tamanho da fonte: 20px;
}

@media tela e (largura máxima: 480px) {
    .rodapé {
        largura: automático;
        margem superior: 0px;
        
    }

    h4{
    	text-align: direita;
    }
}